@model Models.ACME.EmpresaEntidad

@{
    ViewData["Title"] = "Buscar Empresa";
}

<style>
    .btn img {
        width: 24px;
        height: auto; /* Esto mantiene la proporción de la imagen */
    }
</style>

<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="col col-md-4">Empresa - Ver detalle</h5>
            <nav class="navbar">
                <div class="container justify-content-end">
                    <div class="btn-group" role="group" aria-label="Barra de herramientas">
                        <!-- Botón: Ir al primer registro -->
                        <a class="btn btn-primary" asp-action="BuscarxID" asp-route-IDEmpresa="@ViewBag.Inicio" title="Ir al primer registro">
                            <i class="bi bi-skip-backward-fill"></i>
                        </a>

                        <!-- Botón: Ir al registro anterior -->
                        <a class="btn btn-primary" asp-action="BuscarxID" asp-route-IDEmpresa="@ViewBag.Anterior" title="Ir al registro anterior">
                            <i class="bi bi-caret-left-fill"></i>
                        </a>

                        <!-- Botón: Ir al siguiente registro -->
                        <a class="btn btn-primary" asp-action="BuscarxID" asp-route-IDEmpresa="@ViewBag.Siguiente" title="Ir al siguiente registro">
                            <i class="bi bi-caret-right-fill"></i>
                        </a>

                        <!-- Botón: Ir al último registro -->
                        <a class="btn btn-primary" asp-action="BuscarxID" asp-route-IDEmpresa="@ViewBag.Fin" title="Ir al último registro">
                            <i class="bi bi-skip-forward-fill"></i>
                        </a>

                        <!-- Botón: Editar -->
                        <a class="btn btn-dark" asp-action="Modificar" asp-route-IDEmpresa="@Model.IDEmpresa" title="Modificar registro">
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <!-- Botón: Anular -->
                        <a class="btn btn-danger" asp-action="Anular" asp-route-IDEmpresa="@Model.IDEmpresa" title="Anular registro">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="card-body">
        <div>
            <!-- Campos del formulario -->

            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="IDEmpresa" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.IDEmpresa)</label>
                    <input type="number" min="0" class="form-control" asp-for="IDEmpresa" disabled />
                    <span asp-validation-for="IDEmpresa" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="IDTipoEmpresa" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.IDTipoEmpresa)</label>
                    @Html.DropDownList("IDTipoEmpresa", ViewBag.ListaTipoEmpresaEntidad0 as SelectList, "Seleccione un tipo", new { @class = "form-select form-select-md mb-3", @disabled = "disabled" })
                    <span asp-validation-for="IDTipoEmpresa" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Empresa" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.Empresa)</label>
                    <input type="text" class="form-control" asp-for="Empresa" disabled />
                    <span asp-validation-for="Empresa" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">

                <div class="col-md-4">
                    <label asp-for="Direccion" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.Direccion)</label>
                    <input type="text" class="form-control" asp-for="Direccion" disabled />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="RUC" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.RUC)</label>
                    <input type="text" class="form-control" asp-for="RUC" disabled />
                    <span asp-validation-for="RUC" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="FechaCreacion" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.FechaCreacion)</label>
                    <input type="date" class="form-control" asp-for="FechaCreacion" disabled />
                    <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">

                <div class="col-md-4">
                    <label asp-for="Presupuesto" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.Presupuesto)</label>
                    <input type="number" min="0" class="form-control" asp-for="Presupuesto" disabled />
                    <span asp-validation-for="Presupuesto" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label class="col-sm-4 col-form-label" asp-for="Activo">@Html.DisplayNameFor(model => Model.Activo)</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Activo" disabled>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-4">
                    <a asp-action="IndexPaginado" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>


