@model Models.ACME.EmpresaEntidad

@{
    ViewData["Title"] = "Crear Empresa";
}

<div class="card">
    <div class="card-header">
        <h5>Empresa - Crear</h5>
    </div>
    <div class="card-body">
        <form asp-action="Crear" method="post" class="row mb-3">
            <!-- Campos del formulario -->

            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="IDEmpresa" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.IDEmpresa)</label>
                    <input type="number" min="0" class="form-control" asp-for="IDEmpresa" readonly />
                    <span asp-validation-for="IDEmpresa" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="IDTipoEmpresa" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.IDTipoEmpresa)</label>
                    @Html.DropDownList("IDTipoEmpresa", ViewBag.ListaTipoEmpresaEntidad0 as SelectList, "Seleccione un tipo", new { @class = "form-select form-select-md mb-3" })
                    <span asp-validation-for="IDTipoEmpresa" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Empresa" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.Empresa)</label>
                    <input type="text" class="form-control" asp-for="Empresa" />
                    <span asp-validation-for="Empresa" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">

                <div class="col-md-4">
                    <label asp-for="Direccion" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.Direccion)</label>
                    <input type="text" class="form-control" asp-for="Direccion" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="RUC" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.RUC)</label>
                    <input type="text" class="form-control" asp-for="RUC" />
                    <span asp-validation-for="RUC" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="FechaCreacion" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.FechaCreacion)</label>
                    <input type="date" class="form-control" asp-for="FechaCreacion" />
                    <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">

                <div class="col-md-4">
                    <label asp-for="Presupuesto" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.Presupuesto)</label>
                    <input type="number" min="0" class="form-control" asp-for="Presupuesto" />
                    <span asp-validation-for="Presupuesto" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label class="col-sm-4 col-form-label" asp-for="Activo">@Html.DisplayNameFor(model => Model.Activo)</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Activo">
                    </div>
                </div>
            </div>


            <div class="col-12">
                <button type="submit" class="btn btn-primary">Crear</button>
                <a class="btn btn-secondary" asp-action="IndexPaginado">Cancelar</a>
            </div>
        </form>
    </div>
</div>

