@model Models.ACME.RequisicionEntidad

@{
    ViewData["Title"] = "BuscarxID";
}

<style>
    .btn img {
        width: 24px;
        height: auto; /* Esto mantiene la proporción de la imagen */
    }
</style>

<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="col col-md-4">Requisición - Ver detalle</h5>
            <nav class="navbar">
                <div class="container justify-content-end">
                    <div class="btn-group" role="group" aria-label="Barra de herramientas">
                        <!-- Botón: Ir al primer registro -->
                        <a class="btn btn-primary" asp-action="BuscarxID" asp-route-IDRequisicion="@ViewBag.Inicio" title="Ir al primer registro">
                            <i class="bi bi-skip-backward-fill"></i>
                        </a>

                        <!-- Botón: Ir al registro anterior -->
                        <a class="btn btn-primary" asp-action="BuscarxID" asp-route-IDRequisicion="@ViewBag.Anterior" title="Ir al registro anterior">
                            <i class="bi bi-caret-left-fill"></i>
                        </a>

                        <!-- Botón: Ir al siguiente registro -->
                        <a class="btn btn-primary" asp-action="BuscarxID" asp-route-IDRequisicion="@ViewBag.Siguiente" title="Ir al siguiente registro">
                            <i class="bi bi-caret-right-fill"></i>
                        </a>

                        <!-- Botón: Ir al último registro -->
                        <a class="btn btn-primary" asp-action="BuscarxID" asp-route-IDRequisicion="@ViewBag.Fin" title="Ir al último registro">
                            <i class="bi bi-skip-forward-fill"></i>
                        </a>

                        <!-- Botón: Anular -->
                        <a class="btn btn-danger" asp-action="Anular" asp-route-IDRequisicion="@Model.IDRequisicion" title="Anular registro">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="card-body">
        <div>
            <!-- Campos del formulario -->
            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="IDRequisicion" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.IDRequisicion)</label>
                    <input type="number" min="0" class="form-control" asp-for="IDRequisicion" disabled />
                    <span asp-validation-for="IDRequisicion" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="IDEmpresa" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.IDEmpresa)</label>
                    @Html.DropDownList("IDEmpresa", ViewBag.ListaEmpresaEntidad0 as SelectList, "Seleccione un tipo", new { @class = "form-select form-select-md mb-3", @disabled = "disabled" })
                    <span asp-validation-for="IDEmpresa" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="NroRequisicion" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.NroRequisicion)</label>
                    <input type="text" class="form-control" asp-for="NroRequisicion" disabled />
                    <span asp-validation-for="NroRequisicion" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">

                <div class="col-md-4">
                    <label asp-for="FechaEmision" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => Model.FechaEmision)</label>
                    <input type="date" class="form-control" asp-for="FechaEmision" disabled />
                    <span asp-validation-for="FechaEmision" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label class="col-sm-4 col-form-label" asp-for="Aprobada">@Html.DisplayNameFor(model => Model.Aprobada)</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Aprobada" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-sm-4 col-form-label" asp-for="Activo">@Html.DisplayNameFor(model => Model.Activo)</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Activo" disabled>
                    </div>
                </div>
            </div>

            <!-- Pestañas -->
            <ul class="nav nav-tabs mt-4" id="tabDetails" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="RequisicionDetalle-tab" data-bs-toggle="tab" href="#RequisicionDetalle" role="tab">RequisicionDetalle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="RequisicionAnotacion-tab" data-bs-toggle="tab" href="#RequisicionAnotacion" role="tab">RequisicionAnotacion</a>
                </li>
            </ul>

            <!-- Contenido de las pestañas -->
            <div class="tab-content mt-3" id="tabDetailsContent">

                <!-- Tab: RequisicionDetalle -->
                <div class="tab-pane fade show active" id="RequisicionDetalle" role="tabpanel">
                    <div class="d-flex justify-content-between mb-2">
                        <h4>RequisicionDetalle</h4>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: center;">@Html.DisplayNameFor(model => Model.ListaRequisicionDetalle[0].Linea)</th>
                                <th scope="col" style="text-align: center;">@Html.DisplayNameFor(model => Model.ListaRequisicionDetalle[0].IDArticulo)</th>
                                <th scope="col" style="text-align: center;">@Html.DisplayNameFor(model => Model.ListaRequisicionDetalle[0].Articulo)</th>
                                <th scope="col" style="text-align: center;">@Html.DisplayNameFor(model => Model.ListaRequisicionDetalle[0].Cantidad)</th>
                                <th scope="col" style="text-align: center;">@Html.DisplayNameFor(model => Model.ListaRequisicionDetalle[0].Activo)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var RequisicionDetalleEntidad in Model.ListaRequisicionDetalle)
                            {
                                <tr>
                                    <th scope="row" style="text-align: center;">@RequisicionDetalleEntidad.Linea</th>
                                    <td>@RequisicionDetalleEntidad.IDArticulo</td>
                                    <td>@RequisicionDetalleEntidad.Articulo</td>
                                    <td>@RequisicionDetalleEntidad.Cantidad</td>
                                    @{
                                        string activoActivo = string.Empty;
                                        if (RequisicionDetalleEntidad?.Activo == true)
                                        {
                                            activoActivo = "checked";
                                        }
                                        else
                                        {
                                            activoActivo = string.Empty;
                                        }
                                    }
                                    <td class="text-center align-middle"><input class="form-check-input" type="checkbox" disabled @activoActivo></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- Tab: RequisicionAnotacion -->
                <div class="tab-pane fade " id="RequisicionAnotacion" role="tabpanel">
                    <div class="d-flex justify-content-between mb-2">
                        <h4>RequisicionAnotacion</h4>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: center;">@Html.DisplayNameFor(model => Model.ListaRequisicionAnotacion[0].Anotacion)</th>
                                <th scope="col" style="text-align: center;">@Html.DisplayNameFor(model => Model.ListaRequisicionAnotacion[0].Activo)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var RequisicionAnotacionEntidad in Model.ListaRequisicionAnotacion)
                            {
                                <tr>
                                    <td>@RequisicionAnotacionEntidad.Anotacion</td>
                                    @{
                                        string activoActivo = string.Empty;
                                        if (RequisicionAnotacionEntidad?.Activo == true)
                                        {
                                            activoActivo = "checked";
                                        }
                                        else
                                        {
                                            activoActivo = string.Empty;
                                        }
                                    }
                                    <td class="text-center align-middle"><input class="form-check-input" type="checkbox" disabled @activoActivo></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <a asp-action="IndexPaginado" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>


